name: Documentation

on:
    push:
        branches:
            - main
    workflow_dispatch:

permissions:
    contents: write

env:
    GOPRIVATE: "github.com/speakeasy-api"

jobs:
    docs:
        name: Documentation
        runs-on: ubuntu-latest

        env:
            CLI_RUNTIME: "docs"

        steps:
            - name: Checkout speakeasy repository
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
              with:
                  path: speakeasy
                  token: ${{ secrets.SERVICE_BOT_TOKEN }}

            - name: Checkout marketing-site repository
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
              with:
                  repository: speakeasy-api/marketing-site
                  path: marketing-site
                  token: ${{ secrets.SERVICE_BOT_TOKEN }}

            - name: Configure git for private modules
              env:
                  GITHUB_TOKEN: ${{ secrets.SERVICE_BOT_TOKEN }}
              run: git config --global url."https://speakeasybot:${GITHUB_TOKEN}@github.com".insteadOf "https://github.com"

            - name: Set up Go 1.x
              uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
              with:
                  go-version-file: "speakeasy/go.mod"

            - name: Generate CLI docs into marketing-site
              working-directory: speakeasy
              run: |
                  go run cmd/docs/main.go -out-dir ../marketing-site/src/content/docs/speakeasy-reference/cli

            - name: Create PR against marketing-site
              uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
              with:
                  path: marketing-site
                  token: ${{ secrets.SERVICE_BOT_TOKEN }}
                  commit-message: "docs: update speakeasy CLI docs"
                  title: "docs: update speakeasy CLI docs"
                  branch: cli-docs/update

            - if: failure()
              name: Notify Slack on Failure
              uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
              with:
                  webhook: ${{ secrets.SLACK_DOCS_WEBHOOK_URL }}
                  webhook-type: incoming-webhook
                  payload: |
                      text: "*CLI to Website Documentation Failure*:"
                      blocks:
                        - type: "section"
                          text:
                            type: "mrkdwn"
                            text: "*GitHub Actions Logs*: <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|View Logs>"
