name: Documentation

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

env:
  GOPRIVATE: "github.com/speakeasy-api"

jobs:
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout speakeasy repository
        uses: actions/checkout@v3
        with:
          path: speakeasy
          token: ${{ secrets.DOCUMENTATION_PAT }}
      - name: Checkout speakeasy-registry repository
        uses: actions/checkout@v3
        with:
          repository: speakeasy-api/speakeasy-registry
          path: speakeasy-registry
          token: ${{ secrets.DOCUMENTATION_PAT }}
      - name: Configure git for private modules
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_REPO_TOKEN }}
        run: git config --global url."https://speakeasybot:${GITHUB_TOKEN}@github.com".insteadOf "https://github.com"
      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: ^1.20
      - name: Generate speakeasy cli docs
        working-directory: speakeasy
        run: |
          go run cmd/docs/main.go
      - name: Generate speakeasy-registry doc-site docs
        working-directory: speakeasy
        run: |
          go run cmd/docs/main.go -out-dir ../speakeasy-registry/web/packages/docsite/docs/speakeasy-cli -doc-site
      - name: Commit and push changes to speakeasy repo
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          repository: speakeasy
          commit_message: "docs: update speakeasy cli docs"
      - name: Create PR against speakeasy-registry
        uses: peter-evans/create-pull-request@v5
        with:
          path: speakeasy-registry
          token: ${{ secrets.DOCUMENTATION_PAT }}
          commit-message: "docs: update speakeasy cli docs"
          title: "docs: update speakeasy cli docs"
