name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write

env:
  GOPRIVATE: "github.com/speakeasy-api"

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Conventional Commits
        uses: TriPSs/conventional-changelog-action@v3
        with:
          github-token: ${{ secrets.github_token }}
          skip-commit: "true"
          output-file: "false"
          skip-on-empty: "false"
          preset: conventionalcommits
      - uses: actions/setup-go@v3
        with:
          go-version: ">=1.20.3"
          cache: true
      # More assembly might be required: Docker logins, GPG, etc. It all depends
      # on your needs.
      - name: Configure git for private modules
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_REPO_TOKEN }}
        run: git config --global url."https://speakeasybot:${GITHUB_TOKEN}@github.com".insteadOf "https://github.com"
      - name: goreleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          # either 'goreleaser' (default) or 'goreleaser-pro'
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_REPO_TOKEN }}
          # Your GoReleaser Pro key, if you are using the 'goreleaser-pro' distribution
          # GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
  docs:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout speakeasy repository
        uses: actions/checkout@v3
        with:
          path: speakeasy
      - name: Checkout speakeasy-registry repository
        uses: actions/checkout@v3
        with:
          path: speakeasy-registry
      - name: Configure git for private modules
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_REPO_TOKEN }}
        run: git config --global url."https://speakeasybot:${GITHUB_TOKEN}@github.com".insteadOf "https://github.com"
      - name: Generate speakeasy cli docs
        working-directory: speakeasy
        run: |
          go run cmd/docs/main.go
      - name: Generate speakeasy-registry doc-site docs
        working-directory: speakeasy
        run: |
          go run cmd/docs/main.go -out-dir ../speakeasy-registry/web/packages/docsite/docs/speakeasy-cli -doc-site
      - name: Commit and push changes to speakeasy repo
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          repository: speakeasy
          commit_message: "docs: update speakeasy cli docs"
      - name: Create PR against speakeasy-registry
        uses: peter-evans/create-pull-request@v5
        with:
          path: speakeasy-registry
          token: ${{ secrets.BOT_REPO_TOKEN }}
          commit-message: "docs: update speakeasy cli docs"
          title: "docs: update speakeasy cli docs"
